<div class="messages-container web-chat-box" data-target="messages.container" data-key="<%= ENV['PUSHER_KEY'] %>" data-cluster="<%= ENV['PUSHER_CLUSTER'] %>" data-current-user="<%= current_user.id %>" data-channel="le-voyage-chat_<%= conversation.id if conversation %>">
  <% if conversation %>
    <div class="recipient-info">
      <div class="d-flex align-items-center justify-content-start">
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <%= cl_image_tag recipient.avatar_key, class: 'avatar-large' %>
        <h6 class="mb-0 ml-3 boldest"><%= recipient.full_name %></h6>
      </div>
    </div>
    <hr>
    <% if @over_ten %>
      <p class="small-text text-center"><%= link_to 'Show Previous', '?m=all' %></p>
    <% end %>
    <div class="messages pb-3" data-target="messages.messages">
      <% messages.each do |message| %>
        <% if message.body %>
          <% user = User.find(message.user_id) %>
            <% if user == current_user %>
              <div class="each-message py-1 justify-content-end">
                <div class="" style="max-width: 77%;">
                  <div class="message-body mr-2 speech-right">
                    <%= message.body %>
                  </div>
                  <p class="time-right tiny-text lighter ml-3 mb-0"><%= message.message_time %></p>
                </div>
                <%= cl_image_tag user.avatar_key, class: 'avatar-large' %>
              </div>
            <% else %>
              <div class="each-message py-1 justify-content-start">
                <%= cl_image_tag user.avatar_key, class: 'avatar-large' %>
                <div class="" style="max-width: 77%;">
                  <div class="message-body ml-2 speech-left">
                    <%= message.body %>
                  </div>
                  <p class="time-left tiny-text lighter mr-3 mb-0 text-right"><%= message.message_time %></p>
                </div>
              </div>
            <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="message-form">
      <%= form_for [conversation, message], remote: true, html: { data: { type: "html", action: "ajax:success->messages#newMessage", target: 'messages.form' } } do |f| %>
        <div class="message-box d-flex align-items-end p-3">
          <%= f.text_area :body, placeholder: 'Enter message here...', class: "form-control", data: { action: "keyup->messages#updateMessageBox" } %>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
          <%= button_tag class: "message-button" do %>
            <i class="fas fa-paper-plane mr-1"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
