<div class="" data-controller="messages">
  <div class="mobile-chat conversations-container" data-target="messages.container messages.mobile" data-key="<%= ENV['PUSHER_KEY'] %>" data-cluster="<%= ENV['PUSHER_CLUSTER'] %>" data-current-user="<%= current_user.id %>" data-channel="le-voyage-chat_<%= @conversation.id if @conversation %>">
    <div class="messages-container">
      <div class="recipient-info">
        <% if @conversation.sender_id == current_user.id %>
          <% recipient = User.find(@conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(@conversation.sender_id) %>
        <% end %>
        <div class="d-flex align-items-center justify-content-start">
          <%= cl_image_tag recipient.avatar_key, class: 'avatar-large' %>
          <h6 class="mb-0 ml-3 boldest"><%= recipient.full_name %></h6>
        </div>
      </div>
      <hr>
      <div class="messages pb-3" data-target="messages.messages">
        <% if @over_ten %>
          <p class="small-text text-center m-0"><%= link_to 'Show Previous', '?m=all' %></p>
        <% end %>
        <% @message_date = @messages.first.created_at.strftime("%A, %b %d") %>
        <div class="d-flex justify-content-center">
          <p class="message-date text-center m-0 bold"><%= @message_date %></p>
        </div>
        <% @messages.each do |message| %>
          <% unless message.created_at.strftime("%A, %b %d") == @message_date %>
            <% @message_date = message.created_at.strftime("%A, %b %d") %>
            <div class="d-flex justify-content-center">
              <p class="message-date text-center m-0 bold"><%= @message_date %></p>
            </div>
          <% end %>
          <% if message.body %>
            <% user = User.find(message.user_id) %>
              <% if user == current_user %>
                <div class="each-message py-1 justify-content-end">
                  <div class="" style="max-width: 77%;">
                    <div class="message-body mr-2 speech-right">
                      <%= message.body %>
                    </div>
                    <p class="time-right tiny-text lighter ml-3 mb-0"><%= message.message_time %></p>
                  </div>
                  <%= cl_image_tag user.avatar_key, class: 'user-avatar' %>
                </div>
              <% else %>
                <div class="each-message py-1 justify-content-start">
                  <%= cl_image_tag user.avatar_key, class: 'user-avatar' %>
                  <div class="" style="max-width: 77%;">
                    <div class="message-body ml-2 speech-left">
                      <%= message.body %>
                    </div>
                    <p class="time-left tiny-text lighter mr-3 mb-0 text-right"><%= message.message_time %></p>
                  </div>
                </div>
              <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="message-form">
        <%= form_for [@conversation, @message], remote: true, html: { data: { type: "html", action: "ajax:success->messages#newMessage", target: 'messages.form' } } do |f| %>
          <div class="message-box d-flex align-items-end p-3">
            <%= f.text_area :body, placeholder: 'Enter message here...', class: "form-control", data: { action: "keyup->messages#updateMessageBox" } %>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
            <%= button_tag class: "message-button" do %>
              <i class="fas fa-paper-plane mr-1"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
