<div class="container my-5">
  <h1 class="boldest text-center mb-4 <%= @dark_mode ? 'grey' : 'black' %>">Edit Article</h1>
  <%= simple_form_for @article do |f| %>
    <%= f.input :title, label: false, placeholder: 'Title', input_html: { class: "devise-input #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }" } %>
    <%= f.input :preview_text, label: false, placeholder: 'Preview text', input_html: { class: "devise-input #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }" } %>
    <%= f.rich_text_area :content, placeholder: 'Add article content here (use style buttons above to customise your article)', class: "normal-mode", data: { "direct-upload-url" => "/rails/active_storage/direct_uploads", "blob-url-template" => "/rails/active_storage/blobs/:signed_id/:filename" } %>
    <%= f.submit 'Update Article', class: 'primary-button' %>
  <% end %>
</div>

<script>
  document.querySelector('trix-editor').insertAdjacentHTML('beforebegin', `<p class="small-text grey mb-1">Hint: Click the paperclip button to attach images</p>`)
</script>
