<% if policy(Article).create? %>
  <%= link_to new_article_path, class: 'add-new-button' do %>
    <%= image_tag 'add-new.png' %>
  <% end %>
<% end %>
<h1 class="boldest text-center" data-target="common.resourcesHeader">Articles</h1>
<h6 class="boldest text-center mb-5" data-target="common.resourcesHeader">Here is a list of many different useful articles.</h6>
<div class="articles-wrapper my-5">
  <div class="container">
    <% @articles.each do |article| %>
      <%= link_to article_path(article), class: 'no-decoration' do %>
      <div class="article-card">
        <h3 class="boldest"><%= article.title %></h3>
        <h6 class="bold grey"><%= article.preview_text %></h6>
        <div class="article-user-index">
          <% if article.user.avatar.attached?  %>
            <%= cl_image_tag article.user.avatar.key %>
          <% else %>
            <%= image_tag 'default-user.png', class: 'user-avatar' %>
          <% end %>
          <div class="article-user-info">
            <h6 class="bold m-0"><%= article.user.full_name %></h6>
            <p class="s-medium-text bold grey m-0"><%= article.created_at.strftime('%b %d, %Y') %></p>
          </div>
        </div>
        <% if policy(article).edit? %>
          <div class="crud-links">
            <%= link_to edit_article_path(article) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to article_path(article), method: :delete, data: { confirm: 'Are you sure you want to delete this article?' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
