<!-- SHOW ON WEB -->
<%= link_to conversations_path(sender_id: current_user.id, recipient_id: recipient.id), remote: true, data: { action: "ajax:success->messages#switchConversation" }, method: 'post', class: 'open-chats-web no-decoration' do %>
  <div class="each-recipient d-flex p-2">
    <%= cl_image_tag recipient.avatar_key, class: 'avatar-large mr-2' %>
    <div class="text-left truncate-text">
      <h6 class="mb-0 boldest white"><%= recipient.full_name %></h6>
      <% if index == 0 %>
        <p class="small-text lighter white truncate-text"><%= last_message.body %></p>
      <% else %>
        <p class="small-text lighter white truncate-text"><%= conversation.messages.last.body %></p>
      <% end %>
    </div>
  </div>
<% end %>
<!-- SHOW ON MOBILE -->
<%= link_to conversations_path(sender_id: current_user.id, recipient_id: recipient.id), method: 'post', class: 'open-chats-mobile no-decoration' do %>
  <div class="each-recipient d-flex p-2">
    <%= cl_image_tag recipient.avatar_key, class: 'avatar-large mr-2' %>
    <div class="text-left truncate-text">
      <h6 class="mb-0 boldest white"><%= recipient.full_name %></h6>
      <% if index == 0 %>
        <p class="small-text lighter white truncate-text"><%= last_message.body %></p>
      <% else %>
        <p class="small-text lighter white truncate-text"><%= conversation.messages.last.body %></p>
      <% end %>
    </div>
  </div>
<% end %>
