<!-- SHOW ON WEB -->
<%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), remote: true, data: { action: "ajax:success->messages#switchConversation" }, method: 'post', class: 'open-chats-web w-100 no-decoration' do %>
  <div class="each-recipient d-flex align-items-center w-100 p-2">
    <%= cl_image_tag user.avatar_key, class: 'avatar-large mr-2' %>
    <div class="text-left truncate-text">
      <h6 class="mb-0 boldest white"><%= user.full_name %></h6>
    </div>
  </div>
<% end %>
<!-- SHOW ON MOBILE -->
<%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'open-chats-mobile w-100 no-decoration' do %>
  <div class="each-recipient d-flex align-items-center w-100 p-2">
    <%= cl_image_tag user.avatar_key, class: 'avatar-large mr-2' %>
    <div class="text-left truncate-text">
      <h6 class="mb-0 boldest white"><%= user.full_name %></h6>
    </div>
  </div>
<% end %>
