<div class="conversations-container <%= 'dark-inbox-background' if @dark_mode %>" data-controller="chats">
  <div class="all-chats">
    <div class="chats-header">
      <%= form_tag conversations_path, method: :get do |f| %>
        <%= text_field_tag :query, params[:query], class: 'navbar-search-input didot devise-input', placeholder: 'Search for a user..', autocomplete: 'off' %>
        <div id="suggestions" data-target="suggestions"></div>
      <% end %>
      <% if @query %>
        <h4 class="all-chats-title m-0 bold">Users (<%= @users.count %>)</h4>
        <div class="w-100 px-3">
          <hr>
        </div>
        <div class="user-search-results px-3">
          <% @users.each do |user| %>
            <%= render 'users', user: user %>
          <% end %>
        </div>
      <% end %>
      <h4 class="all-chats-title m-0 bold">All chats (<%= @conversations.count %>)</h4>
    </div>
    <div class="w-100 px-3">
      <hr>
    </div>
    <div class="recipient-container px-3">
      <% @conversations.each_with_index do |conversation, index| %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <%= render 'open_chats', index: index, recipient: recipient, conversation: conversation, last_message: @last_message %>
      <% end %>
    </div>
  </div>
  <div class="chat-container" data-target="chats.chatContainer">
    <%= render 'messages/index_web', conversation: @conversation, messages: @messages, message: @message %>
  </div>
</div>
