<h6 class="boldest mb-2">Project owner</h6>
<div class="project-owner">
  <%= cl_image_tag project.user.avatar.key, class: 'avatar' %>
  <span class="ml-2 text-14 bold"><%= project.user.full_name %></span>
</div>
<h6 class="boldest mt-3 mb-2">Project members</h6>
<div class="project-members">
  <% if project.project_members.where(status: 'approved').any? %>
    <% project.project_members.where(status: 'approved').each_with_index do |member, index| %>
    <span class="each-member <%= 'avatar-overlap' unless index == 0 %>">
      <%= cl_image_tag member.user.avatar_key, class: "avatar" %>
      <span class="ml-2 text-14 lighter each-member-name"><%= member.user.full_name %></span>
    </span>
    <% end %>
  <% else %>
    <p class="lighter">There are no project members yet.</p>
  <% end %>
</div>
<% unless project.user == current_user %>
  <% if !ProjectMember.where(career: project, user: current_user).first %>
    <%= link_to 'Request to join', '', target: '_blank', class: 'primary-button no-decoration', data: { toggle: 'modal', target: '#projectMember'} %>
  <% elsif ProjectMember.where(career: project, user: current_user).first.status == 'pending' %>
    <span class="primary-button" style="opacity: 0.3">Requested</span>
  <% elsif ProjectMember.where(career: project, user: current_user).first.status == 'rejected' %>
    <hr>
    <p class="lighter">Your request has been rejected.</p>
  <% end %>
<% end %>
<!-- Modal -->
<div class="modal fade" id="projectMember" tabindex="-1" role="dialog" aria-labelledby="projectMemberLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= simple_form_for [@career, @project_member] do |f| %>
        <div class="modal-header">
          <h5 class="modal-title boldest m-0" id="exampleModalLabel">Request to join</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body px-3 p-0">
            <%= f.input :reason, label: false, placeholder: 'I want to join this project because...', input_html: { class: 'devise-input' } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="secondary-button" data-dismiss="modal">Close</button>
          <%= f.submit 'Send', class: 'primary-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if @career.user == current_user %>
  <%= render 'request', project: @career %>
<% end %>
