<div class="user-show">
  <div class="resource-container mt-4">
    <div class="container">
      <div class="user-show-profile d-flex justify-content-center mb-4">
        <div class="user-show-avatar">
          <%= render 'users/user_avatar', user: @user, classes: '' %>
        </div>
        <div class="user-show-profile-info flex-grow-1">
          <h1 class="boldest m-0 <%= @dark_mode ? 'white' : 'black' %>"><%= @user.username.present? ? @user.username : @user.full_name %></h1>
          <p class="<%= @dark_mode ? 'light-grey' : 'black' %>"><%= pluralize(@user.posts.count, 'post') %></p>
          <% if @not_me %>
            <a href="/conversations?recipient_id=<%= @user.id %>&sender_id=<%= current_user.id %>" class="outline-button small-text mr-1 <%= @dark_mode ? 'white border-grey' : 'black' %>">Message</a>
          <% else %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "outline-button small-text mr-1 #{ @dark_mode ? 'white border-grey' : 'black' }" %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "outline-button small-text #{ @dark_mode ? 'white border-grey' : 'black' }" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="resources-content">
    <div class="user-show-posts-container front-end-container resource-active <%= @dark_mode ? 'user-show-post-border-dark' : 'user-show-post-border-normal' %>" data-target="common.resourceTabs" data-type="posts">
      <div class="user-show-posts-container-two resources-container">
        <div class="row">
          <% @my_posts.each do |post| %>
            <div class="col-4 post-grid <%= @dark_mode ? 'user-show-post-border-dark' : 'user-show-post-border-normal' %>">
              <div class="user-show-posts" style="background-image: url('<%= cl_image_path post.photo.key, width: 500, quality: :auto %>')">
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
