<div class="devise-wrapper">
  <div class="devise-container">
    <div class="devise-form">
      <h1 class="boldest text-center devise-form-title <%= @dark_mode ? 'white' : 'black' %>">Reset password</h1>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-inputs">
          <%= f.input :password,
                      label: "New password",
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: 'New password',
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: "Confirm your new password",
                      required: true,
                      label: false,
                      placeholder: 'Confirm password',
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, "Confirm", class: 'primary-button my-4' %>
        </div>
      <% end %>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
