<div class="devise-wrapper">
  <div class="devise-container">
    <div class="devise-image di-left">
      <%= image_tag 'romain.jpg' %>
    </div>
    <div class="devise-form">
      <h1 class="boldest text-center devise-form-title">Forgot password?</h1>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: 'Email',
                      input_html: { autocomplete: "email", class: 'devise-input' } %>
        </div>
        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, "Reset password", class: 'primary-button my-4' %>
        </div>
      <% end %>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

