<div class="navbar-container">
  <% if user_signed_in? %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= @dark_mode ? 'dark-mode' : 'normal-mode' %>" data-target="navbar.navbar">
      <!-- WEB LOGO -->
      <div class="show-web w-100 d-flex justify-content-between align-items-center">
        <%= link_to root_path, class: "nav-link px-0" do %>
          <%= image_tag "#{ @dark_mode ? 'levoyagedeski-lime.png' : 'levoyagedeski.png' }", class: "logo-signed-in" %>
        <% end %>
        <span class="d-flex align-items-center">
          <%= render 'shared/dark_mode_link' %>
          <%= link_to user_path(current_user) do %>
            <%= image_tag "#{ @dark_mode ? 'user-white.png' : 'user.png' }", class: 'post-card-plane mx-3' %>
          <% end %>
          <%= link_to info_path do %>
            <%= image_tag "#{ @dark_mode ? 'info-white.png' : 'info.png' }", class: 'post-card-plane mb-2 mb-sm-0' %>
          <% end %>
        </span>
      </div>
      <!-- MOBILE LOGO -->
      <div class="show-mobile">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "#{ @dark_mode ? 'levoyagedeski-lime.png' : 'levoyagedeski.png' }", class: "logo" %>
        <% end %>
      </div>

      <div class="show-mobile">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item d-flex align-items-center">
            <%= render 'shared/dark_mode_link' %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to user_path(current_user) do %>
              <%= image_tag "#{ @dark_mode ? 'user-white.png' : 'user.png' }", class: 'post-card-plane' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to info_path do %>
              <%= image_tag "#{ @dark_mode ? 'info-white.png' : 'info.png' }", class: 'post-card-plane' %>
            <% end %>
          </li>
          <li class="nav-item ml-3">
            <div data-controller="upload" data-target="common.webPost">
              <%= render 'shared/new_post' %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-spacer" data-target="navbar.spacer"></div>
  <% else %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-between" data-target="navbar.navbar">
      <% if params[:controller] == "pages" && params[:action] == "home" %>
        <%= link_to root_path, class: "nav-link px-0" do %>
          <%= image_tag 'levoyagedeski-lime.png', class: "logo" %>
          <span class="logo-text light-grey">le voyage de ski</span>
        <% end %>
      <% else %>
        <%= link_to root_path, class: "nav-link px-0" do %>
          <%= image_tag "#{ @dark_mode ? 'levoyagedeski-lime.png' : 'levoyagedeski.png' }", class: "logo" %>
        <% end %>
      <% end %>
      <ul class="navbar-nav">
        <%= render 'shared/dark_mode_link' %>
        <li class="nav-item">
          <%= link_to info_path do %>
            <%= image_tag params[:controller] == "pages" && params[:action] == "home" ? 'info-white.png' : 'info.png', class: 'post-card-plane ml-3' %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="navbar-spacer" data-target="navbar.spacer"></div>
  <% end %>
</div>

<% unless params[:controller] == 'pages' && params[:action] == 'home' %>
  <div class="pwa-top-bar <%= @dark_mode ? 'dark-mode' : 'normal-mode' %> <%= 'justify-content-between' if params[:controller] == 'posts' || params[:controller] == 'users' && params[:action] == 'show' %>" data-target="navbar.pwaTopBar">
    <div class="navbar-brand" data-action="click->navbar#scrollTop">
      <%= link_to root_path, class: 'text-decoration-none' do %>
        <%= image_tag "#{ @dark_mode ? 'levoyagedeski-lime.png' : 'levoyagedeski.png' }", class: "pwa-logo" %>
        <span class="logo-text <%= @dark_mode ? 'light-grey' : 'black' %>">le voyage de ski</span>
      <% end %>
    </div>
    <div data-controller="upload" data-target="common.pwaPost">
      <%= render 'shared/new_post' %>
    </div>


  </div>
  <div class="pwa-top-bar-spacer" data-target="navbar.pwaTopBarSpacer"></div>
<% end %>
