<div class="navbar-container">
  <% if user_signed_in? %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= @dark_mode ? 'dark-mode' : 'normal-mode' %>" data-target="navbar.navbar">
      <div class="show-web w-100 d-flex justify-content-between align-items-center">
        <%= link_to root_path, class: "nav-link px-0" do %>
          <%= image_tag "levoyagedeski.png", class: "logo-signed-in" %>
        <% end %>
        <span class="d-flex align-items-center">
          <%= render 'shared/dark_mode_link' %>
          <%#= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link #{ @dark_mode ? 'light-grey' : 'black' }" %>
          <%= link_to user_path(current_user) do %>
            <%= image_tag "#{ @dark_mode ? 'user-white.png' : 'user.png' }", class: 'post-card-plane mx-3' %>
          <% end %>
          <%= link_to conversations_path do %>
            <% if current_user.new_messages.any? %>
              <div class="nav-chat position-relative">
                <%= image_tag "#{ @dark_mode ? 'message-white.png' : 'message.png' }", class: 'post-card-plane' %>
                <span class="notification-icon">
                  <%= current_user.new_messages.count %>
                </span>
              </div>
            <% else %>
              <%= image_tag "#{ @dark_mode ? 'message-white.png' : 'message.png' }", class: 'post-card-plane' %>
            <% end %>
          <% end %>
        </span>
      </div>
      <div class="show-mobile">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "levoyagedeski.png", class: "logo" %>
          <span class="logo-text <%= @dark_mode ? 'light-grey' : 'black' %>">le voyage de ski</span>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" data-action="click->navbar#navbarToggler" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <div class="hamburger-stick ham-one"></div>
          <div class="hamburger-stick ham-two"></div>
          <div class="hamburger-stick ham-three"></div>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="show-mobile">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Posts", posts_path, class: "nav-link #{ @dark_mode ? 'light-grey' : 'black' }" %>
            </li>
            <li class="nav-item">
              <%= link_to "Inbox", conversations_path, class: "nav-link #{ @dark_mode ? 'light-grey' : 'black' }" %>
            </li>
            <li class="nav-item pt-1">
              <%= render 'shared/dark_mode_link' %>
            </li>
            <li class="nav-item d-flex align-items-center justify-content-start pt-3 pb-2">
              <%= link_to user_path(current_user) do %>
                <%= image_tag "#{ @dark_mode ? 'user-white.png' : 'user.png' }", class: 'post-card-plane' %>
              <% end %>
              <%= link_to conversations_path do %>
                <% if current_user.new_messages.any? %>
                  <div class="nav-chat position-relative">
                    <%= image_tag "#{ @dark_mode ? 'message-white.png' : 'message.png' }", class: 'post-card-plane' %>
                    <span class="notification-icon">
                      <%= current_user.new_messages.count %>
                    </span>
                  </div>
                <% else %>
                  <%= image_tag "#{ @dark_mode ? 'message-white.png' : 'message.png' }", class: 'post-card-plane' %>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-spacer" data-target="navbar.spacer"></div>
  <% else %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-between" data-target="navbar.navbar">
      <%= link_to root_path, class: "nav-link px-0" do %>
        <%= image_tag "levoyagedeski.png", class: "logo" %>
        <span class="logo-text <%= @dark_mode ? 'light-grey' : 'black' %>">le voyage de ski</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" data-action="click->navbar#navbarToggler" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <div class="hamburger-stick ham-one"></div>
          <div class="hamburger-stick ham-two"></div>
          <div class="hamburger-stick ham-three"></div>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Posts", posts_path, class: "nav-link #{ @dark_mode ? 'light-grey' : 'black' }" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link black" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-spacer" data-target="navbar.spacer"></div>
  <% end %>
</div>
<% unless params[:controller] == 'pages' && params[:action] == 'home' %>
  <div class="pwa-top-bar <%= @dark_mode ? 'dark-mode' : 'normal-mode' %>" data-target="navbar.pwaTopBar" style="justify-content: <%= user_signed_in? ? 'space-between' : 'center' %>">
    <div class="navbar-brand" data-action="click->navbar#scrollTop">
      <%= image_tag "levoyagedeski.png", class: "pwa-logo" %>
      <span class="logo-text <%= @dark_mode ? 'light-grey' : 'black' %>">le voyage de ski</span>
    </div>
  </div>
  <div class="pwa-top-bar-spacer" data-target="navbar.pwaTopBarSpacer"></div>
<% end %>
