<div class="pwa-navbar-container">
  <div class="pwa-navbar-spacer" data-target="navbar.pwaNavbarSpacer"></div>
  <div class="pwa-navbar" data-target="navbar.pwaNavbar">
    <%= link_to posts_path, class: "pwa-navbar-section no-decoration", data: { action: 'click->common#showLoader' } do %>
      <div class="pwa-navbar-section">
        <% if params[:controller] == 'posts' %>
          <%= image_tag 'posts-lime.png', class: 'pwa-navbar-icon' %>
        <% else %>
          <%= image_tag 'posts.png', class: 'pwa-navbar-icon' %>
        <% end %>
      </div>
    <% end %>
<!--     <%#= link_to tips_path, class: "pwa-navbar-section no-decoration", data: { action: 'click->common#showLoader' } do %>
      <div class="pwa-navbar-section">
        <%# if params[:controller] == 'tips' %>
          <%#= image_tag 'careers-blue.png', class: 'pwa-navbar-icon' %>
        <%# else %>
          <%#= image_tag 'careers.png', class: 'pwa-navbar-icon' %>
        <%# end %>
      </div>
    <%# end %>
    <%#= link_to resources_path, class: 'pwa-navbar-section no-decoration', data: { action: 'click->common#showLoader' } do %>
      <div class="pwa-navbar-section">
        <%# if params[:controller] == 'resources' %>
          <%#= image_tag 'resources-blue.png', class: 'pwa-navbar-icon' %>
        <%# else %>
          <%#= image_tag 'resources.png', class: 'pwa-navbar-icon' %>
        <%# end %>
      </div>
    <%# end %>
    <%#= link_to articles_path, class: 'pwa-navbar-section no-decoration', data: { action: 'click->common#showLoader' } do %>
      <div class="pwa-navbar-section">
        <%# if params[:controller] == 'articles' %>
          <%#= image_tag 'articles-blue.png', class: 'pwa-navbar-icon' %>
        <%# else %>
          <%#= image_tag 'articles.png', class: 'pwa-navbar-icon' %>
        <%# end %>
      </div>
    <%# end %> -->

    <%= link_to no_user_path, class: 'pwa-navbar-section no-decoration', data: { action: 'click->common#showLoader' } do %>
      <div class="pwa-navbar-section">
        <!-- CONDITION BELOW - OR HOME PAGE FOR LOGGED IN USERS -->
        <% if params[:controller] == 'users' && params[:action] == 'show' %>
          <%= image_tag 'user-lime.png', class: 'pwa-navbar-icon' %>
        <% else %>
          <%= image_tag 'user-white.png', class: 'pwa-navbar-icon' %>
        <% end %>
      </div>
    <% end %>
    <%= link_to info_path, class: 'pwa-navbar-section no-decoration', data: { action: 'click->common#showLoader' } do %>
      <li class="pwa-navbar-section">
        <% if params[:controller] == 'pages' && params[:action] == 'info' %>
          <%= image_tag 'info-lime.png', class: 'pwa-navbar-icon' %>
        <% else %>
          <%= image_tag 'info-white.png', class: 'pwa-navbar-icon' %>
        <% end %>
      </li>
    <% end %>
    <%= render 'shared/dark_mode_link_pwa' %>
  </div>
</div>
