
<div class="home-wrapper">
  <% if !user_signed_in? %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-between d-none" style="position: relative; z-index: 2500;height: 60px !important" data-target="common.pwaHomeNavbar">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png", class: "logo" %>
        <%= image_tag "logo-text.png", class: "logo-text" %>
      <% end %>
      <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
    </div>
  <% end %>
  <div class="home-banner">
    <%= image_tag 'home-banner.jpg', class: 'home-banner-image' %>
  </div>
  <div class="stay-connected">
    <div class="container">
      <h1 class="white boldest text-center">Stay connected with alumni</h1>
      <div class="stay-connected-content">
        <div class="stay-connected-left">
          <div class="stay-connected-img-container">
            <%= image_tag 'demo-day-party.jpg', class: 'stay-connected-img' %>
            <%= image_tag 'heart.png', class: 'stay-connected-icon left-icon' %>
            <%= image_tag 'comment.png', class: 'stay-connected-icon right-icon' %>
          </div>
          <h5 class="white text-center boldest stay-connected-text">Share, comment and like on posts from members of the community</h5>
        </div>
        <div class="stay-connected-right">
          <div class="stay-connected-img-container">
            <%= image_tag 'students.jpg', class: 'stay-connected-img' %>
            <%= image_tag 'bulb.png', class: 'stay-connected-icon left-icon' %>
            <%= image_tag 'question.png', class: 'stay-connected-icon right-icon' %>
          </div>
          <h5 class="white text-center boldest stay-connected-text">Support the community by sharing hints and tips</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="home-family">
    <div class="home-family-content">
      <h1 class="boldest text-center px-3" style="line-height: 50px;">One big happy <span class='le-wagon-box'>family</span>.</h1>
      <h3 class="boldest text-center home-family-content-text">We are a community and network of people who help each other, using our internal chat and alumni database to share tips and opportunities.</h3>
    </div>
    <%= image_tag 'home-bus.jpg', class: 'home-bus' %>
  </div>
  <div class="home-slant-break">
    <h3 class="home-family-message boldest text-center px-3">Join the journey.....</h3>
    <%= image_tag 'home-slant-break.png', class: 'home-slant-break' %>
  </div>
  <div class="home-work">
    <h1 class="boldest text-center">Find jobs or collaborate on projects</h1>
    <div class="container">
      <div class="home-work-content">
        <div class="home-work-text">
          <h3 class="boldest">Looking for a job? Find the current in demand roles.</h3>
          <h3 class="boldest">Want to gain more experience and boost your portfolio? Create a project or search for an existing one.</h3>
        </div>
        <div class="work-card">
          <div class="work-card-logo">
            <%= image_tag 'hoxton-digital.png' %>
          </div>
          <h5 class="w-100 mt-4 mb-2"><strong>Role:</strong> Back End Developer</h5>
          <h5 class="w-100"><strong>Description:</strong> We are looking for a back end developer for a Ruby on Rails project. Ideally you will have 1+ years experience.</h5>
        </div>
      </div>
    </div>
  </div>
  <% if @first_visit %>
    <%= link_to seen_pwa_path, remote: true, style: "cursor: default" do %>
      <div class="pwa-underlay" data-target="common.pwaUnderlay" data-action="click->common#hide">
      </div>
    <% end %>
    <div class="pwa-popup" data-target="common.pwaPopup">
      <h3 class="boldest text-center m-0">I'm a Progressive Web App!</h3>
      <%= image_tag 'pwa-icon.png', class: 'pwa-icon' %>
      <h4 class="boldest text-center">This means that on your mobile phone you can go to <span style="color: #4d76b7;">options</span>, click <span style="color: #4d76b7;">add me to home screen</span> and open me like a mobile app... C'est super!</h4>
      <%= link_to seen_pwa_path, remote: true, class: 'my-3 no-decoration' do %>
        <div class="primary-button pwa-popup-button" data-target="common.pwaButton" data-action="click->common#hide">
          Got it
        </div>
      <% end %>
    </div>
  <% end %>
</div>
