<div class="home-wrapper home-img" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= asset_path 'peisey-vallandry.png' %>)">
  <h1 class="text-center mt-5 pt-5 white">Capturing the moments from the not so Le Wagon ski trip</h1>
  <%= link_to "Log in", new_user_session_path, class: "btn primary-button" %>
  <% if @first_visit %>
    <%= link_to seen_pwa_path, remote: true, style: "cursor: default" do %>
      <div class="pwa-underlay" data-target="common.pwaUnderlay" data-action="click->common#hide">
      </div>
    <% end %>
    <div class="pwa-popup" data-target="common.pwaPopup">
      <h3 class="boldest text-center m-0">I'm a Progressive Web App!</h3>
      <%= image_tag 'pwa-icon.png', class: 'pwa-icon' %>
      <h4 class="boldest text-center">This means that on your mobile phone you can go to <span class="highlight">options/share</span>, click <span class="highlight">add to home screen</span> and open me like a mobile app!</h4>
      <%= link_to seen_pwa_path, remote: true, class: 'my-3 no-decoration' do %>
        <div class="primary-button pwa-popup-button" data-target="common.pwaButton" data-action="click->common#hide">
          Got it
        </div>
      <% end %>
    </div>
  <% end %>
</div>
