<div class="home-wrapper">
  <div class="home-banner">
    <%= image_tag 'home-banner.jpg', class: 'home-banner-image' %>
  </div>
  <div class="stay-connected">
    <div class="container">
      <h1 class="white boldest text-center">Stay connected with alumni</h1>
      <div class="stay-connected-content">
        <div class="stay-connected-left">
          <div class="stay-connected-img-container">
            <%= image_tag 'demo-day-party.jpg', class: 'stay-connected-img' %>
            <%= image_tag 'heart.png', class: 'stay-connected-icon left-icon' %>
            <%= image_tag 'comment.png', class: 'stay-connected-icon right-icon' %>
          </div>
          <h5 class="white text-center boldest stay-connected-text">Share, comment and like on posts from members of the community</h5>
        </div>
        <div class="stay-connected-right">
          <div class="stay-connected-img-container">
            <%= image_tag 'students.jpg', class: 'stay-connected-img' %>
            <%= image_tag 'bulb.png', class: 'stay-connected-icon left-icon' %>
            <%= image_tag 'question.png', class: 'stay-connected-icon right-icon' %>
          </div>
          <h5 class="white text-center boldest stay-connected-text">Support the community by sharing hints and tips</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="home-family">
    <div class="home-family-content">
      <h1 class="boldest text-center px-3" style="line-height: 50px;">One big happy <span class='le-wagon-box'>family</span>.</h1>
      <h3 class="boldest text-center home-family-content-text">We are a community and network of people who help each other, using our internal chat and alumni database to share tips and opportunities.</h3>
    </div>
    <%= image_tag 'home-bus.jpg', class: 'home-bus' %>
  </div>
  <div class="home-slant-break">
    <h3 class="home-family-message boldest text-center px-3">Join the journey.....</h3>
    <%= image_tag 'home-slant-break.png', class: 'home-slant-break' %>
  </div>
  <div class="home-work">
    <h1 class="boldest text-center">Find jobs or collaborate on projects</h1>
    <div class="container">
      <div class="home-work-content">
        <div class="home-work-text">
          <h3 class="boldest">Looking for a job? Find the current in demand roles.</h3>
          <h3 class="boldest">Want to gain more experience and boost your portfolio? Create a project or search for an existing one.</h3>
        </div>
        <div class="work-card">
          <div class="work-card-logo">
            <%= image_tag 'hoxton-digital.png' %>
          </div>
          <h5 class="w-100 mt-4 mb-2"><strong>Role:</strong> Back End Developer</h5>
          <h5 class="w-100"><strong>Description:</strong> We are looking for a back end developer for a Ruby on Rails project. Ideally you will have 1+ years experience.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
