<div class="devise-wrapper" style="background: #7CB1B5;">
  <div class="devise-container">
    <div class="devise-form">
      <h1 class="boldest text-center devise-form-title">Log in</h1>
      <h5 class="boldest text-center devise-padding"><span class="code-red">if</span> (Student <span class="code-red">||</span> Teacher)</h5>
      <%= link_to user_github_omniauth_authorize_path, class: 'secondary-button white no-decoration github-link' do %>
        Log in<i class="fab fa-github ml-2"></i>
      <% end %>
      <h5 class="boldest text-center code-red devise-padding">else</h5>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      label: false,
                      placeholder: 'Email',
                      autofocus: true,
                      input_html: { autocomplete: "email", class: 'devise-input' } %>
          <%= f.input :password,
                      required: false,
                      label: false,
                      placeholder: 'Password',
                      input_html: { autocomplete: "current-password", class: 'devise-input' } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, "Log in", class: 'primary-button my-4' %>
        </div>
      <% end %>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="devise-image di-right">
      <%= image_tag 'tombeur.jpg' %>
    </div>
  </div>
</div>

