<div class="resources-content" data-target="common.resourcesContent">
  <div class="<%= @dark_mode ? 'background-dark-one' : 'background-alice-blue' %> front-end-container resource-active" data-target="common.resourceTabs tabs.contents" data-type="front-end" data-name="Front End | Design">
    <% if @resources.where(category: 'Colors').any? %>
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Colors</h2>
        <div class="row">
          <%= render 'resource_cards', resources: @resources.where(category: 'Colors').order(created_at: :asc) %>
        </div>
      </div>
    <% end %>
    <% if @resources.where(category: 'Fonts').any? %>
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Fonts</h2>
        <div class="row">
          <%= render 'resource_cards', resources: @resources.where(category: 'Fonts').order(created_at: :asc) %>
        </div>
      </div>
    <% end %>
    <% if @resources.where(category: 'Icons').any? %>
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Icons</h2>
        <div class="row">
          <%= render 'resource_cards', resources: @resources.where(category: 'Icons').order(created_at: :asc) %>
        </div>
      </div>
    <% end %>
    <% if @resources.where(category: 'Royalty Free Images').any? %>
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Royalty Free Images</h2>
        <div class="row">
          <%= render 'resource_cards', resources: @resources.where(category: 'Royalty Free Images').order(created_at: :asc) %>
        </div>
      </div>
    <% end %>
    <% if @resources.where(category: 'Illustrations').any? %>
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Illustrations</h2>
        <div class="row">
          <%= render 'resource_cards', resources: @resources.where(category: 'Illustrations').order(created_at: :asc) %>
        </div>
      </div>
    <% end %>
    <% if @resources.where(category: 'Inspiration').any? %>
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Inspiration</h2>
        <div class="row">
          <%= render 'resource_cards', resources: @resources.where(category: 'Inspiration').order(created_at: :asc) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="<%= @dark_mode ? 'background-dark-two' : 'background-beau-blue' %> back-end-container" data-target="common.resourceTabs tabs.contents" data-type="back-end" data-name="Ruby - Rails | JS">
    <% if @resources.where(category: 'Ruby - Rails').any? %>
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Ruby - Rails</h2>
        <div class="row">
          <%= render 'resource_cards', resources: @resources.where(category: 'Ruby - Rails').order(created_at: :asc) %>
        </div>
      </div>
    <% end %>
    <% if @resources.where(category: 'Javascript').any? %>
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Javascript</h2>
        <div class="row">
          <%= render 'resource_cards', resources: @resources.where(category: 'Javascript').order(created_at: :asc) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
