<div class="post-card-user">
  <% if post.likes&.map(&:user).include?(current_user) %>
    <%= link_to like_path(Like.where(user: current_user, post: post).first), remote: true, id: "like-toggle_#{post.id}", data: { action: "ajax:success->posts#toggleLike" }, method: :delete do %>
      <%= image_tag "#{ @dark_mode ? 'post-card-heart-lime.png' : 'post-card-heart-black.png' }", class: 'post-card-heart' %>
    <% end %>
  <% else %>
    <%= link_to post_likes_path(post), remote: true, id: "like-toggle_#{post.id}", data: { action: "ajax:success->posts#toggleLike" }, method: :post do %>
      <%= image_tag "#{ @dark_mode ? 'post-card-heart-white.png' : 'post-card-heart.png' }", class: 'post-card-heart' %>
    <% end %>
  <% end %>
</div>
<div class="number-of-likes">
  <% if post.likes.count == 0 %>
    <p class="boldest m-0 <%= @dark_mode ? 'white' : 'black' %>"><%= pluralize(post.likes.count, 'like') %></p>
  <% elsif post.likes.count == 1 %>
    <span class="d-flex align-items-center" style="margin-right: 4px;">
      <% if post.likes.first.user.avatar.attached? %>
        <%= cl_image_tag post.likes.first.user.avatar.key, format: :jpg, width: 40, class: 'avatar-mini' %>
      <% else %>
        <%= render 'users/user_avatar', user: post.likes.first.user, classes: 'avatar-mini-default' %>
      <% end %>
    </span>
    <p class="boldest m-0 <%= @dark_mode ? 'white' : 'black' %>">
      Liked by <%= link_to post.likes.first.user.user_username, user_path(post.likes.first.user), class: "no-decoration" %>
    </p>
  <% elsif post.likes.count == 2 %>
    <span class="d-flex align-items-center" style="margin-right: -4px;">
      <% post.likes.each_with_index do |l, index| %>
        <% if l.user.avatar.attached? %>
          <%= cl_image_tag l.user.avatar.key, format: :jpg, width: 40, class: "avatar-mini avatar-mini-bordered #{ 'left-sm' if index == 1 }" %>
        <% else %>
          <%= render 'users/user_avatar', user: l.user, classes: "avatar-mini-default #{ 'left-sm' if index == 1 }" %>
        <% end %>
      <% end %>
    </span>
    <p class="boldest m-0 <%= @dark_mode ? 'white' : 'black' %> ">
      Liked by <%= link_to post.likes.first.user.user_username, user_path(post.likes.first.user), class: "no-decoration" %> and <span class="cursor-pointer" data-action="click->posts#showLikes" data-id="<%= post.id %>"><%= pluralize(post.likes.count - 1, 'other') %></span>
    </p>
  <% else %>
    <span class="d-flex align-items-center" style="margin-right: -16px;">
      <% post.likes.first(3).each_with_index do |l, index| %>
        <% if l.user.avatar.attached? %>
          <%= cl_image_tag l.user.avatar.key, format: :jpg, width: 40, class: "avatar-mini avatar-mini-bordered #{ 'left-sm' if index == 1 } #{ 'left-lg' if index == 2 }" %>
        <% else %>
          <%= render 'users/user_avatar', user: l.user, classes: "avatar-mini-default #{ 'left-sm' if index == 1 } #{ 'left-lg' if index == 2 }" %>
        <% end %>
      <% end %>
    </span>
    <p class="boldest m-0 <%= @dark_mode ? 'white' : 'black' %> ">
      Liked by <%= link_to post.likes.first.user.user_username, user_path(post.likes.first.user), class: "no-decoration" %> and <span class="cursor-pointer" data-action="click->posts#showLikes" data-id="<%= post.id %>"><%= pluralize(post.likes.count - 1, 'other') %></span>
    </p>
  <% end %>
</div>
