<%= link_to new_post_path, class: 'add-new-button' do %>
  <%= image_tag 'add-new.png' %>
<% end %>
<% @posts.each do |post| %>
  <div class="post-card">
    <% if post.photo.attached? %>
      <div class="post-card-image">
        <%= cl_image_tag post.photo.key, width: 500 %>
      </div>
    <% end %>
    <div class="post-card-content">
      <div class="post-card-user">
        <div class="post-card-user-info boldest">
          <%= cl_image_tag post.user.avatar.key, width: 40, class: 'post-card-avatar' %>
          <%= post.user.username ? post.user.username : post.user.full_name %>
        </div>
        <% if post.likes&.map(&:user).include?(current_user) %>
          <%= link_to like_path(Like.where(user: current_user, post: post).first), method: :delete do %>
            <%= image_tag 'post-card-heart-green.png', class: 'post-card-heart' %>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(post), method: :post do %>
            <%= image_tag 'post-card-heart.png', class: 'post-card-heart' %>
          <% end %>
        <% end %>
      </div>
      <p class="text-12 bold grey m-0"><%= time_ago_in_words(post.created_at) %></p>
      <p class="boldest m-0"><%= pluralize(post.likes.count, 'like') %></p>
      <p class="boldest m-0"><%= post.user.username ? post.user.username : post.user.full_name %> <span style="font-weight: 200;"><%= post.caption %></span></p>
      <% if post.comments.count > 5 %>
        <p class="text-12 bold m-0 grey">view all <%= post.comments.count %> comments</span></p>
      <% else %>
        <% post.comments.each do |comment| %>
          <p class="boldest m-0"><%= comment.user.username ? comment.user.username : comment.user.full_name %> <span style="font-weight: 200;"><%= comment.content %></span></p>
        <% end %>
      <% end %>
    </div>
    <% unless post.user == current_user %>
      <%= simple_form_for [post, @comment] do |f| %>
        <%= f.input :content,
                    required: true,
                    label: false,
                    placeholder: 'Add a comment...',
                    input_html: { class: 'post-card-form-input' } %>
        <%= f.submit 'Post', class: 'post-card-form-button' %>
      <% end %>
    <% end %>
  </div>
<% end %>
