<div class="posts-container d-flex justify-content-center" data-controller="posts">
  <div class="post-index-left mr-3 mb-3">
    <div class="post-sticky">
      <div class="post-index-user p-3 mb-3 <%= @dark_mode ? 'post-border-dark' : 'post-border-normal' %>">
        <div class="post-card-user-info boldest mb-2 d-flex align-items-center">
          <%= render 'users/user_avatar', user: current_user, classes: 'post-card-avatar default-avatar text-28' %>
          <%= link_to user_path(current_user), class: 'no-decoration' do %>
            <span class="ml-2 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= current_user.user_username %></span>
          <% end %>
        </div>
        <%= link_to "New Post", new_post_path, class: "outline-button small-text mr-1 #{ @dark_mode ? 'white border-grey' : 'black' }" %>
      </div>
    </div>
  </div>
  <div class="post-index-posts">
    <% if @posts.empty? %>
      <div class="d-flex flex-column align-items-center">
        <p class="pt-5 <%= @dark_mode ? 'white' : 'black' %>">No posts yet. Be the first to post!</p>
        <%= link_to "New post", new_post_path, class: "outline-button small-text mr-1 #{ @dark_mode ? 'white border-grey' : 'black' }" %>
      </div>
    <% end %>
    <% @posts.each do |post| %>
      <div class="post-card <%= @dark_mode ? 'post-border-dark' : 'post-border-normal' %>">
        <div class="post-card-user-info boldest d-flex align-items-center justify-content-between user-info <%= 'video-behind' if is_video?(post.photo) %>">
          <%= link_to user_path(post.user), class: 'no-decoration' do %>
            <div class="">
            <% if post.user.avatar.attached? %>
              <%= cl_image_tag post.user.avatar.key, width: 40, format: :jpg, class: 'post-card-avatar' %>
            <% else %>
              <%= render 'users/user_avatar', user: post.user, classes: 'post-card-avatar default-avatar text-20' %>
            <% end %>
            <span class="link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= post.user.user_username %></span>
            </div>
          <% end %>
            <div class="dropdown">
              <i class="fas fa-ellipsis-h <%= @dark_mode ? 'white' : 'black' %> mr-1 pr-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-right <%= 'post-border-dark drop-bg' if @dark_mode %>" aria-labelledby="dropdownMenuButton">
                <% if policy(post).destroy? %>
                  <%= link_to "Delete", post_path(post, show: true), method: :delete, class: "dropdown-item #{ @dark_mode ? 'white' : 'black' }", data: { confirm: "Are you sure you want to delete this post?" } %>
                <% end %>
                <%= link_to 'Download', download_post_path(post), method: :post, class: "dropdown-item #{ @dark_mode ? 'white' : 'black' }" %>
              </div>
            </div>
        </div>
        <% if post.photo.attached? %>
          <div class="post-card-image">
              <div class="post-like-overlay" data-action="click->posts#showLikeToggle"></div>
              <div class="post-like-toggle" data-action="click->posts#doubleClickToggleLike" data-id="<%= post.id %>"></div>
            <% if post.photo.content_type.split("/")[0] == "image" %>
              <%= cl_image_tag post.photo.key, width: 500, format: :jpg, data: { target: "posts.image" }, class: 'post-image' %>
            <% elsif post.photo.content_type.split("/")[0] == "video" %>
              <div class="video">
                <%= cl_video_tag post.photo.key, width: 500, autoplay: true, playsinline: true, loop: true, muted: true, data: { target: "posts.video" }, class: 'post-image post-video' %>
              </div>
              <div class="volume" data-action="click->posts#toggleMute">
                <%= image_tag 'volume-on.png', class: 'd-none', width: 14, data: { target: 'posts.volumeOn'} %>
                <%= image_tag 'volume-off.png', width: 14, data: { target: 'posts.volumeOff'} %>
              </div>
            <% end %>
            <div class="white-heart">
              <%= image_tag 'white-heart.png', data: { target: 'heart'}, class: "mr-2" %>
            </div>
          </div>
        <% end %>
        <div class="post-card-content">
          <div class="post-user" data-target="posts.postCard">
            <%= render 'post_user', post: post %>
          </div>
          <% if post.caption.present? %>
            <%= link_to user_path(post.user), class: 'no-decoration' do %>
              <div class="post-card-user-info boldest py-1">
                <% if post.user.avatar.attached? %>
                  <%= cl_image_tag post.user.avatar.key, format: :jpg, width: 40, class: 'avatar-sm' %>
                <% else %>
                  <%= render 'users/user_avatar', user: post.user, classes: 'avatar-sm default-comment-avatar' %>
                <% end %>
                <span class="m-0 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= post.user.user_username %></span> <span class="s-medium-text <%= @dark_mode ? 'white' : 'black' %>" style="font-weight: 200;"><%= post.caption %></span>
              </div>
            <% end %>
          <% end %>
          <div class="post-comments post-comments-box_<%= post.id %>" data-target="posts.commentsBox">
            <% if post.comments.count > 5 %>
              <p class="text-12 bold m-0 grey cursor-pointer post-modal_<%= post.id %>" data-action="click->posts#showComments" data-id="<%= post.id %>" data-count="<%= post.comments.count %>">view all <%= post.comments.count %> comments</span></p>
            <% else %>
              <% post.comments.each do |comment| %>
                <%= render 'modal_comment', comment: comment %>
              <% end %>
            <% end %>
          </div>
          <p class="text-12 grey" style="margin-bottom: 10px"><%= time_ago_in_words(post.created_at) %> ago</p>
        </div>
        <%= simple_form_for [post, @comment], remote: true, data: { action: "ajax:success->posts#newComment", id: "#{post.id}" } do |f| %>
          <%= f.input :content,
                      required: true,
                      label: false,
                      placeholder: 'Add a comment...',
                      input_html: { class: "post-card-form-input  #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }", data: { action: "keyup->posts#postButton" } } %>
          <%= f.submit 'Post', class: "post-card-form-button #{ @dark_mode ? 'dark-mode border-grey grey' : 'normal-mode' }", data: { target: 'posts.button' } %>
        <% end %>
      </div>

      <!-- LIKES MODAL -->
      <!-- LIKES MODAL -->
      <!-- LIKES MODAL -->
      <!-- LIKES MODAL -->
      <!-- LIKES MODAL -->

      <div id="likesOffcanvas<%= post.id %>" class="offcanvas offcanvas-bg" data-target="posts.offCanvas">
        <!-- OFFCANVAS UNDERLAY -->
        <div class="underlay" data-action="click->posts#hideOffcanvas" data-target="posts.underlay"></div>
        <!-- OFFCANVAS UNDERLAY -->
        <div class="offcanvas__container justify-content-start offcanvas-bg offcanvas__container-likes">
          <div class="border-bottom pb-3 offcanvas-header">
            <div class="cursor-pointer" data-action="click->posts#hideOffcanvasFromX" data-confirm="You will lose unsaved changes if you continue">
              <%= image_tag "#{ @dark_mode ? 'plus-white.png' : 'plus.png' }", width: 25, class: 'post-exit' %>
            </div>
            <h4 class="boldest text-center m-0 <%= @dark_mode ? 'white' : 'black' %>">Likes</h4>
            <div style="height: 25px; width: 32px;">
            </div>
          </div>
          <div class="post-likes-modal pt-3 <%= @dark_mode ? 'dark-mode' : 'normal-mode' %>">
            <% post.likes.each do |like| %>
              <%= link_to user_path(like.user), class: "no-decoration" do %>
                <div class="user-show-profile d-flex justify-content-center align-items-center mb-3">
                  <%= render 'users/user_avatar', user: like.user, classes: 'avatar-large default-avatar bold text-28' %>
                  <div class="user-show-profile-info user-all flex-grow-1 ml-2">
                    <h5 class="boldest m-0 <%= @dark_mode ? 'white' : 'black' %>"><%= like.user.user_username %></h5>
                     <p class="m-0 <%= @dark_mode ? 'grey' : 'grey' %>"><%= like.user.full_name %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- COMMENTS MODAL -->
      <!-- COMMENTS MODAL -->
      <!-- COMMENTS MODAL -->
      <!-- COMMENTS MODAL -->
      <!-- COMMENTS MODAL -->

      <div id="commentsOffcanvas<%= post.id %>" class="offcanvas offcanvas-bg" data-target="posts.offCanvas">
        <!-- OFFCANVAS UNDERLAY -->
        <div class="underlay" data-action="click->posts#hideOffcanvas" data-target="posts.underlay"></div>
        <!-- OFFCANVAS UNDERLAY -->
        <div class="offcanvas__container offcanvas__container-comments pb-0 offcanvas-bg">
          <div class="border-bottom pb-3 offcanvas-header offcanvas-header-comments">
            <div class="cursor-pointer" data-action="click->posts#hideOffcanvasFromX">
              <%= image_tag "#{ @dark_mode ? 'plus-white.png' : 'plus.png' }", width: 25, class: 'post-exit' %>
            </div>
            <h4 class="boldest text-center m-0 <%= @dark_mode ? 'grey' : 'black' %>">Comments</h4>
            <div style="height: 25px; width: 32px;">
            </div>
          </div>
          <div class="modal-content comments-modal">
            <div class="modal-body post-comments-body d-flex p-0">
              <% if post.photo.content_type.split("/")[0] == "image" %>
                <%= cl_image_tag post.photo.key, format: :jpg, class: 'post-modal-image' %>
              <% elsif post.photo.content_type.split("/")[0] == "video" %>
                <%= cl_video_tag post.photo.key, controls: true, class: 'post-modal-image post-video' %>
              <% end %>
              <div class="modal-comments <%= @dark_mode ? 'dark-mode' : 'normal-mode' %>">
                <div class="post-comments modal-post-comments post-modal-comments-box_<%= post.id %>" data-target="posts.commentsBox">
                  <% if post.caption.present? %>
                    <div class="post-card-user-info boldest py-2 border-bottom">
                      <% if post.user.avatar.attached?  %>
                        <%= cl_image_tag post.user.avatar.key, format: :jpg, width: 40, class: 'avatar-sm' %>
                      <% else %>
                        <%= render 'users/user_avatar', user: post.user, classes: 'avatar-sm default-avatar' %>
                      <% end %>
                      <%= link_to user_path(post.user), class: 'no-decoration' do %>
                        <span class="m-0 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= post.user.user_username %></span> <span class="s-medium-text <%= @dark_mode ? 'white' : 'black' %>" style="font-weight: 200;"><%= post.caption %></span>
                      <% end %>
                    </div>
                  <% end %>
                  <% post.comments.each do |comment| %>
                    <%= render 'modal_comment', comment: comment %>
                  <% end %>
                </div>
                <div class="modal-footer p-0">
                  <%= simple_form_for [post, @comment], remote: true, data: { action: "ajax:success->posts#newCommentModal", id: "#{post.id}" }, html: { class: "w-100 m-0" } do |f| %>
                    <%= f.input :content,
                                required: true,
                                label: false,
                                placeholder: 'Add a comment...',
                                input_html: { class: "post-card-form-input all-comments-input #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }", data: { action: "keyup->posts#postModalButton" } } %>
                    <%= f.hidden_field :modal, :value => 'true' %>
                    <%= f.submit 'Post', class: "post-card-form-button all-comments-button #{ @dark_mode ? 'dark-mode border-grey grey' : 'normal-mode' }", data: { target: 'posts.button' } %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


