<div class="posts-container d-flex justify-content-center" data-controller="posts">
  <div class="post-index-left mr-3 mb-3">
    <div class="post-sticky">
      <div class="post-index-user p-3 mb-3 <%= @dark_mode ? 'post-border-dark' : 'post-border-normal' %>">
        <div class="post-card-user-info boldest mb-2">
          <%= render 'users/user_avatar', user: current_user, classes: 'post-card-avatar' %>
          <%= link_to user_path(current_user), class: 'no-decoration' do %>
            <span class="m-0 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= current_user.username.present? ? current_user.username : current_user.full_name %></span>
          <% end %>
        </div>
        <%= link_to "Add a new Post", new_post_path, class: "#{ @dark_mode ? 'white' : 'black' }" %>
      </div>
    </div>
  </div>
  <div class="post-index-posts">
    <% @posts.each do |post| %>
      <div class="post-card <%= @dark_mode ? 'post-border-dark' : 'post-border-normal' %>">
        <div class="post-card-user-info boldest" style="margin: 10px;">
          <% if post.user.avatar.attached?  %>
            <%= cl_image_tag post.user.avatar.key, width: 40, class: 'post-card-avatar' %>
          <% else %>
            <%= image_tag 'default-user.png', width: 40, class: 'post-card-avatar' %>
          <% end %>
          <%= link_to user_path(post.user), class: 'no-decoration' do %>
            <span class="m-0 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= post.user.username ? post.user.username : post.user.full_name %></span>
          <% end %>
        </div>
        <% if post.photo.attached? %>
          <div class="post-card-image">
            <% unless is_video?(post.photo) %>
              <div class="post-like-overlay" data-action="click->posts#showLikeToggle"></div>
              <div class="post-like-toggle" data-action="click->posts#doubleClickToggleLike" data-id="<%= post.id %>"></div>
            <% end %>
            <% if post.photo.content_type.split("/")[0] == "image" %>
              <%= cl_image_tag post.photo.key, width: 500, data: { target: "posts.image" }, class: 'post-image' %>
            <% else post.photo.content_type.split("/")[0] == "video" %>
              <%= cl_video_tag post.photo.key, width: 500, controls: true, data: { target: "posts.image" }, class: 'post-image post-video' %>
            <% end %>
            <div class="white-heart">
              <%= image_tag 'white-heart.png', data: { target: 'heart'} %>
            </div>
          </div>
        <% end %>
        <div class="post-card-content">
          <div class="post-user" data-target="posts.postCard">
            <%= render 'post_user', post: post %>
          </div>
          <div class="post-card-user-info boldest py-1">
            <% if post.user.avatar.attached? %>
              <%= cl_image_tag post.user.avatar.key, width: 40, class: 'avatar-sm' %>
            <% else %>
              <%= image_tag 'default-user.png', width: 40, class: 'avatar-sm' %>
            <% end %>
            <%= link_to user_path(post.user), class: 'no-decoration' do %>
              <span class="m-0 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= post.user.username ? post.user.username : post.user.full_name %></span> <span class="s-medium-text <%= @dark_mode ? 'white' : 'black' %>" style="font-weight: 200;"><%= post.caption %></span>
            <% end %>
          </div>
          <div class="post-comments post-comments-box_<%= post.id %>" data-target="posts.commentsBox">
            <% if post.comments.count > 5 %>
              <p class="text-12 bold m-0 grey cursor-pointer post-modal_<%= post.id %>" data-toggle="modal" data-target="#post-modal_<%= post.id %>" data-count="<%= post.comments.count %>">view all <%= post.comments.count %> comments</span></p>
            <% else %>
              <% post.comments.each do |comment| %>
                <%= render 'modal_comment', comment: comment %>
              <% end %>
            <% end %>
          </div>
          <p class="text-12 grey" style="margin-bottom: 10px"><%= time_ago_in_words(post.created_at) %> ago</p>
        </div>
        <%= simple_form_for [post, @comment], remote: true, data: { action: "ajax:success->posts#newComment", id: "#{post.id}" } do |f| %>
          <%= f.input :content,
                      required: true,
                      label: false,
                      placeholder: 'Add a comment...',
                      input_html: { class: "post-card-form-input  #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }", data: { action: "keyup->posts#postButton" } } %>
          <%= f.submit 'Post', class: "post-card-form-button #{ @dark_mode ? 'dark-mode border-grey grey' : 'normal-mode' }", data: { target: 'posts.button' } %>
        <% end %>
      </div>

      <!-- COMMENTS MODAL -->
      <div class="modal fade" id="post-modal_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-target="posts.modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content comments-modal <%= @dark_mode ? 'dark-mode' : 'normal-mode' %>">
            <div class="modal-body post-comments-body d-flex p-0">
              <%= cl_image_tag post.photo.key, quality: :auto, class: "post-modal-image" %>
              <div class="modal-comments <%= @dark_mode ? 'dark-mode' : 'normal-mode' %>">
                <div class="post-card-user-info boldest p-2">
                  <% if post.user.avatar.attached?  %>
                    <%= cl_image_tag post.user.avatar.key, width: 40, class: 'post-card-avatar' %>
                  <% else %>
                    <%= image_tag 'default-user.png', width: 40, class: 'post-card-avatar' %>
                  <% end %>
                  <%= link_to user_path(post.user), class: 'no-decoration' do %>
                    <span class="m-0 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= post.user.username ? post.user.username : post.user.full_name %></span>
                  <% end %>
                </div>
                <hr class="w-100 m-0">
                <div class="post-comments modal-post-comments post-modal-comments-box_<%= post.id %> px-2" data-target="posts.commentsBox">
                  <div class="post-card-user-info boldest py-2">
                    <% if post.user.avatar.attached?  %>
                      <%= cl_image_tag post.user.avatar.key, width: 40, class: 'avatar-sm' %>
                    <% else %>
                      <%= image_tag 'default-user.png', width: 40, class: 'avatar-sm' %>
                    <% end %>
                    <%= link_to user_path(post.user), class: 'no-decoration' do %>
                      <span class="m-0 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= post.user.username ? post.user.username : post.user.full_name %></span> <span class="s-medium-text <%= @dark_mode ? 'white' : 'black' %>" style="font-weight: 200;"><%= post.caption %></span>
                    <% end %>
                  </div>
                  <% post.comments.each do |comment| %>
                    <%= render 'modal_comment', comment: comment %>
                  <% end %>
                </div>
                <div class="modal-footer p-0">
                  <%= simple_form_for [post, @comment], remote: true, data: { action: "ajax:success->posts#newCommentModal", id: "#{post.id}" }, html: { class: "w-100 m-0" } do |f| %>
                    <%= f.input :content,
                                required: true,
                                label: false,
                                placeholder: 'Add a comment...',
                                input_html: { class: "post-card-form-input #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }", data: { action: "keyup->posts#postModalButton" } } %>
                    <%= f.hidden_field :modal, :value => 'true' %>
                    <%= f.submit 'Post', class: "post-card-form-button #{ @dark_mode ? 'dark-mode border-grey grey' : 'normal-mode' }", data: { target: 'posts.button' } %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- <%# unless current_user.city %>
  <div class="city-form-wrapper">
    <div class="city-form-container">
      <%#= image_tag 'le-wagon-levoyagedeski.png', class: 'city-form-logo' %>
      <h1 class="boldest text-center devise-form-title">Which batch did you attend?</h1>
      <%#= simple_form_for current_user, url: update_batch_user_path(current_user), html: { class: "w-75 city-form" } do |f| %>
        <%#= f.association :batch, collection: Batch.order(number: :asc), label: false, :label_method => lambda { |batch| "#{batch.number}" }, prompt: "Select Batch" %>
        <h5 class="boldest text-center my-0 mx-3">in</h5>
        <%#= f.association :city, collection: City.order(name: :asc), label: false, prompt: 'Select City' %>
        <%#= f.submit 'Go', class: 'primary-button' %>
      <%# end %>
    </div>
  </div>
<%# end %> -->
