<div class="posts-container d-flex justify-content-center" data-controller="posts">
  <div class="post-index-left mr-3 mb-3">
    <div class="post-sticky">
      <div class="post-index-user p-3 mb-3 <%= @dark_mode ? 'post-border-dark' : 'post-border-normal' %>">
        <div class="post-card-user-info boldest mb-2">
          <%= render 'users/user_avatar', user: current_user, classes: 'post-card-avatar' %>
          <%= link_to user_path(current_user), class: 'no-decoration' do %>
            <span class="m-0 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= current_user.username ? current_user.username : current_user.full_name %></span>
          <% end %>
        </div>
        <% if current_user.batch %>
          <h6 class="boldest mb-1 <%= @dark_mode ? 'grey' : 'black' %>"><%= current_user.batch ? "Batch ##{current_user.batch.number} - #{current_user.city.name}" : current_user.city.name %></h6>
        <% end %>
        <%= link_to "Add a new Post", new_post_path, class: '' %>
      </div>
      <div class="post-index-user p-3 mb-3 <%= @dark_mode ? 'post-border-dark' : 'post-border-normal' %>">
        <p class="<%= @dark_mode ? 'white' : 'black' %>">Latest Tip</p>
          <p class="m-0 v-small-text <%= @dark_mode ? 'grey' : 'black' %>"><%= @tip.tip_type %></p>
          <%= link_to @tip.title, tip_path(@tip), class: "no-decoration link-hover bold #{ @dark_mode ? 'white' : 'black' }" %>
          <p class="mt-3 mb-1 v-small-text <%= @dark_mode ? 'grey' : 'black' %>">Posted by</p>
        <div class="post-card-user-info boldest">
          <%= render 'users/user_avatar', user: @tip.user, classes: 'avatar mr-1' %>
          <%= link_to user_path(@tip.user), class: 'no-decoration' do %>
            <span class="small-text m-0 link-hover <%= @dark_mode ? 'white' : 'black' %>"><%= @tip.user.username ? @tip.user.username : @tip.user.full_name %></span>
          <% end %>
        </div>
      </div>
      <div class="post-index-user p-3 mb-3 <%= @dark_mode ? 'post-border-dark' : 'post-border-normal' %>">
        <p class="<%= @dark_mode ? 'white' : 'black' %>">Latest Resource</p>
        <%= link_to @resource.link, target: '_blank' do %>
          <%= cl_image_tag @resource.photo.key, class: 'w-100' %>
        <% end %>
        <p class="boldest s-medium-text mt-2 mb-0 <%= @dark_mode ? 'grey' : 'black' %>"><%= @resource.title %></p>
        <p class="m-0 lighter small-text <%= @dark_mode ? 'white' : 'black' %>"><%= @resource.description %></p>
      </div>
    </div>
  </div>
  <div class="post-index-posts">
    <% @posts.each do |post| %>
      <div class="post-card <%= @dark_mode ? 'post-border-dark' : 'post-border-normal' %>">
        <% if post.photo.attached? %>
          <div class="post-card-image">
            <div class="post-like-overlay" data-action="click->posts#showLikeToggle"></div>
            <div class="post-like-toggle" data-action="click->posts#doubleClickToggleLike" data-id="<%= post.id %>"></div>
            <%= cl_image_tag post.photo.key, width: 500, quality: :auto, data: { target: "posts.image" }, class: 'post-image' %>
            <div class="white-heart">
              <%= image_tag 'white-heart.png', data: { target: 'heart'} %>
            </div>
          </div>
        <% end %>
        <div class="post-card-content">
          <div class="post-user" data-target="posts.postCard">
            <%= render 'post_user', post: post %>
          </div>
          <p class="boldest m-0  <%= @dark_mode ? 'white' : 'black' %>">
            <%= link_to user_path(post.user), class: 'no-decoration link-hover' do %>
              <%= post.user.username ? post.user.username : post.user.full_name %>
            <% end %>
            <span style="font-weight: 200;"><%= post.caption %></span>
          </p>
          <div class="post-comments post-comments-box_<%= post.id %>" data-target="posts.commentsBox">
            <% if post.comments.count > 5 %>
              <p class="text-12 bold m-0 grey cursor-pointer post-modal_<%= post.id %>" data-toggle="modal" data-target="#post-modal_<%= post.id %>" data-count="<%= post.comments.count %>">view all <%= post.comments.count %> comments</span></p>
            <% else %>
              <% post.comments.each do |comment| %>
                <%= render 'comment', comment: comment %>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= simple_form_for [post, @comment], remote: true, data: { action: "ajax:success->posts#newComment", id: "#{post.id}" } do |f| %>
          <%= f.input :content,
                      required: true,
                      label: false,
                      placeholder: 'Add a comment...',
                      input_html: { class: "post-card-form-input  #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }", data: { action: "keyup->posts#postButton" } } %>
          <%= f.submit 'Post', class: "post-card-form-button #{ @dark_mode ? 'dark-mode border-grey grey' : 'normal-mode' }", data: { target: 'posts.button' } %>
        <% end %>
      </div>

      <!-- COMMENTS MODAL -->
      <div class="modal fade" id="post-modal_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-target="posts.modal">
        <div class="modal-dialog modal-dialog" role="document">
          <div class="modal-content comments-modal <%= @dark_mode ? 'dark-mode post-border-dark' : 'normal-mode post-border-normal' %>">
            <div class="modal-header">
              <p class="boldest m-0 <%= @dark_mode ? 'white' : 'black' %>">
                <%= link_to user_path(post.user), class: 'no-decoration link-hover' do %>
                  <%= post.user.username ? post.user.username : post.user.full_name %>
                <% end %>
                <span class="pr-4" style="font-weight: 200;"><%= post.caption %></span>
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="<%= @dark_mode ? 'white' : 'black' %>" aria-hidden="true">&times;</span>
              </button>
            </div>
            <hr class="mt-0 w-100 <%= 'border-grey' if @dark_mode %>">
            <div class="modal-body py-0 post-comments-body">
              <div class="post-comments post-modal-comments-box_<%= post.id %>" data-target="posts.commentsBox">
                <% post.comments.each do |comment| %>
                  <%= render 'comment', comment: comment %>
                <% end %>
              </div>
            </div>
            <div class="modal-footer pb-0 px-0">
              <% unless post.user == current_user %>
                <%= simple_form_for [post, @comment], remote: true, data: { action: "ajax:success->posts#newCommentModal", id: "#{post.id}" }, html: { class: "w-100 mx-0 mb-0" } do |f| %>
                  <%= f.input :content,
                              required: true,
                              label: false,
                              placeholder: 'Add a comment...',
                              input_html: { class: "post-card-form-input #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }", data: { action: "keyup->posts#postButton" } } %>
                  <%= f.submit 'Post', class: "post-card-form-button #{ @dark_mode ? 'dark-mode border-grey grey' : 'normal-mode' }", data: { target: 'posts.button' } %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% unless current_user.city %>
  <div class="city-form-wrapper">
    <div class="city-form-container">
      <%= image_tag 'le-wagon-logo.png', class: 'city-form-logo' %>
      <h1 class="boldest text-center devise-form-title">Which batch did you attend?</h1>
      <%= simple_form_for current_user, url: update_batch_user_path(current_user), html: { class: "w-75 city-form" } do |f| %>
        <%= f.association :batch, collection: Batch.order(number: :asc), label: false, :label_method => lambda { |batch| "Batch ##{batch.number}" }, prompt: "Select Batch" %>
        <h5 class="boldest text-center my-0 mx-3">in</h5>
        <%= f.association :city, collection: City.order(name: :asc), label: false, prompt: 'Select City' %>
        <%= f.submit 'Go', class: 'primary-button' %>
      <% end %>
    </div>
  </div>
<% end %>
