<div class="resources-content" data-target="common.resourcesContent">
  <div class="<%= @dark_mode ? 'background-dark-one' : 'background-alice-blue' %> front-end-container resource-active" data-name="How To's" data-target="common.resourceTabs tabs.contents" data-type="how_tos">
    <div class="resources-container">
      <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">How To's</h2>
      <div class="row">
        <%= render 'tips_cards', tips: @how_tos %>
      </div>
    </div>
  </div>
  <div class="<%= @dark_mode ? 'background-dark-two' : 'background-beau-blue' %> back-end-container" data-name="Solutions" data-target="common.resourceTabs tabs.contents" data-type="solutions">
    <div class="resources-container">
      <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Solutions</h2>
      <div class="row">
        <%= render 'tips_cards', tips: @solutions %>
      </div>
    </div>
  </div>
</div>
