<div class="container mb-5" data-controller="tips">
  <h1 class="boldest text-center mt-5 mb-4 <%= @dark_mode ? 'grey' : 'black' %>">Edit Tip</h1>
  <%= simple_form_for @tip do |f| %>
    <%= f.input :tip_type, collection: ["How To", "Solution"], label: false, prompt: 'Type', input_html: { class: "input-dropdown #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }" } %>
    <%= f.input :title, label: false, placeholder: 'Title', input_html: { class: "devise-input #{ @dark_mode ? 'dark-mode border-grey white' : 'normal-mode' }" } %>
    <%= f.rich_text_area :content, placeholder: 'Add article content here (use style buttons above to customise your article)', class: "normal-mode" %>
    <%= f.submit 'Update Tip', class: 'primary-button' %>
  <% end %>
</div>

<script>
  document.querySelector('trix-editor').insertAdjacentHTML('beforebegin', `<p class="small-text grey mb-1">Hint: Click the paperclip button to attach images</p>`)
</script>
