<div class="tips-container" data-controller="tips">
  <% if policy(Tip).create? %>
    <%= link_to new_tip_path, class: 'add-new-button' do %>
      <%= image_tag "#{ @dark_mode ? 'add-new-white.png' : 'add-new.png' }" %>
    <% end %>
  <% end %>
  <h1 class="boldest text-center <%= @dark_mode ? 'grey' : 'black' %>" data-target="common.resourcesHeader">Tips</h1>
  <h6 class="boldest text-center mb-4 <%= @dark_mode ? 'white' : 'black' %>" data-target="common.resourcesHeader">Here is a list of many different tips.</h6>
  <div class="resource-tabs" data-target="common.tabsHolder">
    <div class="background-light-blue front-end-tab resource-tab" data-action="click->common#switchTabs" data-type="how_tos">
      <h6 class="boldest text-center m-0">How To's</h6>
    </div>
    <div class="background-yellow back-end-tab resource-tab" data-action="click->common#switchTabs" data-type="solutions">
      <h6 class="boldest text-center m-0">Solutions</h6>
    </div>
  </div>
  <div class="resources-content" data-target="common.resourcesContent">
    <div class="background-light-blue front-end-container resource-active" data-target="common.resourceTabs" data-type="how_tos">
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3">How To's</h2>
        <div class="row">
          <%= render 'tips_cards', tips: @how_tos %>
        </div>
      </div>
    </div>
    <div class="background-yellow back-end-container" data-target="common.resourceTabs" data-type="solutions">
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3">Solutions</h2>
        <div class="row">
          <%= render 'tips_cards', tips: @solutions %>
        </div>
      </div>
    </div>
  </div>
</div>
