<div class="tips-container" data-controller="tips">
  <% if policy(Tip).create? %>
    <%= link_to new_tip_path, class: 'add-new-button' do %>
      <%= image_tag "#{ @dark_mode ? 'add-new-white.png' : 'add-new.png' }" %>
    <% end %>
  <% end %>
  <h1 class="boldest text-center <%= @dark_mode ? 'grey' : 'black' %>" data-target="common.resourcesHeader">Tips</h1>
  <h6 class="boldest text-center mb-4 <%= @dark_mode ? 'white' : 'black' %>" data-target="common.resourcesHeader">Here is a list of many different tips.</h6>
  <div class="resource-tabs <%= @dark_mode ? 'tab-border-dark' : 'tab-border-normal' %>" data-target="common.tabsHolder">
    <div class="front-end-tab resource-tab tab-active boldest text-center m-0 <%= @dark_mode ? 'white' : 'black' %>" data-target="common.tab" data-action="click->common#switchTabs" data-type="how_tos">
      How To's
    </div>
    <div class="back-end-tab resource-tab boldest text-center m-0 <%= @dark_mode ? 'white' : 'black' %>" data-target="common.tab" data-action="click->common#switchTabs" data-type="solutions">
      Solutions
    </div>
  </div>
  <div class="resources-content" data-target="common.resourcesContent">
    <div class="<%= @dark_mode ? 'background-dark-one' : 'background-alice-blue' %> front-end-container resource-active" data-target="common.resourceTabs" data-type="how_tos">
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">How To's</h2>
        <div class="row">
          <%= render 'tips_cards', tips: @how_tos %>
        </div>
      </div>
    </div>
    <div class="<%= @dark_mode ? 'background-dark-two' : 'background-beau-blue' %> back-end-container" data-target="common.resourceTabs" data-type="solutions">
      <div class="resources-container">
        <h2 class="resource-category boldest mb-3 <%= @dark_mode ? 'white' : 'black' %>">Solutions</h2>
        <div class="row">
          <%= render 'tips_cards', tips: @solutions %>
        </div>
      </div>
    </div>
  </div>
</div>
