<div class="tips-container" data-controller="tips tabs">
  <% if policy(Tip).create? %>
    <%= link_to new_tip_path, class: 'add-new-button' do %>
      <%= image_tag "#{ @dark_mode ? 'add-new-white.png' : 'add-new.png' }" %>
    <% end %>
  <% end %>
  <h1 class="boldest text-center <%= @dark_mode ? 'grey' : 'black' %>" data-target="common.resourcesHeader">Tips</h1>
  <h6 class="boldest text-center mb-3 <%= @dark_mode ? 'white' : 'black' %>" data-target="common.resourcesHeader">Here is a list of many different tips.</h6>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 pb-3">
        <%= form_tag tips_path, method: :get, data: { action: "ajax:success->tabs#updateResults" }, remote: true do |f| %>
          <%= text_field_tag :query, params[:query], class: "navbar-search-input devise-input w-100 px-2 #{ @dark_mode ? 'post-border-dark dark-mode white' : 'post-border-normal normal-mode'}", placeholder: 'Search for a tip...', autocomplete: 'off' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="resource-tabs <%= @dark_mode ? 'tab-border-dark' : 'tab-border-normal' %>" data-target="common.tabsHolder">
    <div class="front-end-tab resource-tab tab-active boldest text-center m-0 <%= @dark_mode ? 'white' : 'black' %>" data-target="common.tab" data-action="click->common#switchTabs" data-type="how_tos">
      How To's
    </div>
    <div class="back-end-tab resource-tab boldest text-center m-0 <%= @dark_mode ? 'white' : 'black' %>" data-target="common.tab" data-action="click->common#switchTabs" data-type="solutions">
      Solutions
    </div>
  </div>
  <div class="" data-target="tabs.container">
    <%= render 'tips_content' %>
  </div>
</div>
